In [1]:
import pandas as pd 
import numpy as np
import transformations as tr
import pickle
import clean_jor

# 2. Transformations

In [2]:
climber = pd.read_csv('../data/climber_all_clean.csv',index_col=0)

In [3]:
climber.head(3)

,country,sex,height,weight,age,years_cl,grades_max,grades_mean,year_last,max_fra
0,SWE,0,177,73,25.0,5,62,46.750000,2001,8a+/8b
1,SWE,0,180,78,27.0,5,59,52.833333,2000,8a
2,NOR,0,177,68,37.0,14,53,51.400000,2010,7b+

<b> X-y split

In [4]:
X,y = tr.xy_split(climber)

<b> Train-test split

In [5]:
X_train, X_test, y_train, y_test = tr.tr_ts_split(X,y)

<b> Cat-Num split

In [6]:
numerical_train, categorical_train= tr.cat_num_split(X_train)
numerical_test, categorical_test= tr.cat_num_split(X_test)

<b> Categorical transformations

In [7]:
cat_enc = tr.cat_get_enc(categorical_train,'country')
categorical_train_enc = tr.cat_transform_hot(categorical_train,cat_enc,'country')
categorical_test_enc = tr.cat_transform_hot(categorical_test,cat_enc,'country')

In [8]:
categorical_train_enc.head(3)

,AUS,AUT,BEL,BRA,CAN,CHE,CZE,DEU,DNK,ESP,...,NLD,NOR,POL,PRT,RUS,SVN,SWE,USA,ZAF,other
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

<b> Concatenate them back

In [9]:
X_tot_train = pd.concat([numerical_train,categorical_train_enc], axis=1) 
X_tot_test = pd.concat([numerical_test,categorical_test_enc], axis=1)

<b> Numerical Transformations

In [10]:
num_tr_1 = tr.num_get_tr_power(X_tot_train)
X_tot_train_trans = tr.num_transform(X_tot_train, num_tr_1)
X_tot_test_trans = tr.num_transform(X_tot_test, num_tr_1)

In [11]:
num_tr_2 = tr.num_get_tr_minmax(X_tot_train)
X_tot_train_trans2 = tr.num_transform(X_tot_train_trans, num_tr_2)
X_tot_test_trans2 = tr.num_transform(X_tot_test_trans, num_tr_2)

In [12]:
X_tot_train_trans2.head(3)

,sex,height,weight,age,years_cl,AUS,AUT,BEL,BRA,CAN,...,NLD,NOR,POL,PRT,RUS,SVN,SWE,USA,ZAF,other
0,-0.343238,-3.481824,-0.743802,-0.459692,-0.180052,-0.155445,-0.18155,-0.13971,-0.189908,-0.16497,...,-0.150143,-0.186048,-0.295008,-0.125356,-0.154791,-0.134588,4.110077,-0.348844,-0.146741,-0.317303
1,-0.343238,-3.509233,-0.775795,-0.459692,-0.126143,-0.155445,-0.18155,-0.13971,-0.189908,-0.16497,...,-0.150143,-0.186048,-0.295008,-0.125356,-0.154791,-0.134588,-0.243304,2.866613,-0.146741,-0.317303
2,-0.343238,-3.471670,-0.721401,-0.450736,-0.117259,-0.155445,-0.18155,-0.13971,-0.189908,-0.16497,...,-0.150143,-0.186048,-0.295008,-0.125356,-0.154791,-0.134588,-0.243304,-0.348844,-0.146741,-0.317303

## Save dataframes

In [13]:
X_tot_train_trans2.to_csv('../data/X_train.csv')
X_tot_test_trans2.to_csv('../data/X_test.csv')
y_train.to_csv('../data/y_train.csv')
y_test.to_csv('../data/y_test.csv')

In [14]:
# save transformers to disk
filename2 = '../transformer/cat_enc.sav'
pickle.dump(cat_enc, open(filename2, 'wb'))
filename3 = '../transformer/num_tr1.sav'
pickle.dump(num_tr_1, open(filename3, 'wb'))
filename4 = '../transformer/num_tr2.sav'
pickle.dump(num_tr_2, open(filename4, 'wb'))